services:
  ingestion_service:
    build:
      context: .
      dockerfile: src/ingestion_service/Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ./src/ingestion_service:/app/src/ingestion_service
    environment:
      DATABASE_URL: postgresql://ingestion_user:ingestion_pass@postgres:5432/ingestion_db
      PYTHONPATH: /app/src

  postgres:
    image: pgvector/pgvector:pg15
    container_name: ingestion-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ingestion_user
      POSTGRES_PASSWORD: ingestion_pass
      POSTGRES_DB: ingestion_db
    volumes:
      - ./volumes/ingestion-db:/var/lib/postgresql/data

  gradio:
    build:
      context: .
      dockerfile: gradio/Dockerfile
    ports:
      - "7860:7860"
    environment:
      - API_BASE_URL=http://ingestion_service:8001
    depends_on:
      - ingestion_service
